header{
    background-color: #2196f3;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    ul{
        list-style: none;
        li{
            display: inline;
            padding-right: 10px;
            a{
                font-size: 17px;
               color: #fff;
               text-decoration: none; 
               &:hover{
                color: lightgrey;
                }
            }
        }
    }
    h2{
        color: #fff;
        padding-left: 10px;
    }
}