body{
    background-color: #f2eecb;
    div{
        height: 200px;
        width: 150px;
        background-image: url(../images/profile-pic.jpg);
        background-size: cover;
        background-position: center;
    }
}